/* add your fonts here */



@font-face {
	font-family: 'poppins-light';
	font-style: normal;
	font-display: swap;
	font-weight: 500;
	src: local('poppins-light'), local("poppins-light"), local('poppins-light'),
		 url('/assets/fonts/poppins-light.woff') format('woff'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  }

  @font-face {
	font-family: 'poppins-regular';
	font-style: normal;
	font-display: swap;
	font-weight: 500;
	src: local('poppins-regular'), local("poppins-regular"), local('poppins-regular'),
		 url('/assets/fonts/poppins-regular.woff') format('woff'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  }

  @font-face {
	font-family: 'poppins-bold';
	font-style: normal;
	font-display: swap;
	font-weight: 500;
	src: local('poppins-bold'), local("poppins-bold"), local('poppins-bold'),
		 url('/assets/fonts/poppins-bold.woff') format('woff'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  }
