<section class="px-5 pt-9">
   <div class="container-fluid bg-light rounded-5 px-5 ">
      <div class="container py-7">
         <div class="row pb-7">
            <div class="col-6">
               <h3 class="h1">Lass uns gemeinsam kreative Lösungen entwicklen.</h3>
               <button type="button" class="btn btn-violet mt-5">Anfragen</button>
            </div>
            <div class="offset-1 col-5">
               <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
               <p class="py-5">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

            </div>
         </div>
      </div>
   </div>
</section>
<section class="px-5 pt-95">
   <div class="container-fluidrounded-5 px-5 ">
         <div class="row py-7 d-flex align-items-center">
            <div class="col-6">
               <p class="small mb-0">Grafikbuam. – ist ein gemeinsamer Webauftritt der Einzelunternehmen Clemens Kerber, Pedro Lucillo & Nino Lucillo. Jeder Einzelunternehmer handelt wirtschaftlich und haftungsrechtlich selbständig..</p>
            </div>
            <div class="offset-1 col-5">
            <div class="rounded-4 p-5 border border-dark row d-flex align-items-center">
               <div class="col-8">
               <h4 class="mb-0">Wir sind spezialisiert auf komplexe Projekte mit</h4>
               </div>
               <div class="col-4">
               <img src="https://craftcom.imgix.net/craft-logo-usage-01-919.svg?dpr=2&fit=crop&fm=jpg&fp-x=0.5&fp-y=0.5&ixlib=php-3.3.1&q=70&w=800&s=36f2976e92aeb5da8ed0d1df38441d71" width="200px"/>
            </div>
            </div>
         </div>
   </div>
</section>