<div class="container-fluid px-md-5">
	<div class="row d-flex align-items-center">
		<div class="col-lg-4 text-start"></div>
		<div class="col-6 col-lg-4 text-lg-center">
			<a href="{{siteUrl}}"><img id="js-logo" src="/assets/img/_system/gb_typo.svg" width="180" height="54" alt="{{'Grafikbuam - Webdesigner und Grafiker - Logo'}}" title="Grafikbuam Kreativgemeinschaft Logo"></a>
		</div>
		<div class="col-6 col-lg-4 text-end">
			<button type="button" data-bs-toggle="modal" data-bs-target="#contactModal" class="btn btn-petrol pulse mt-0" title="Anrage an Grafikbuam senden">Anfragen</button>
		</div>
	</div>
</div>
<style>
.animated-path {
  stroke-dasharray: 100;
  animation: dash 5s linear;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
</style>


