{% apply spaceless %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ currentSite.language }}">
	<head>

		{# system partials #}
		{% include '_system/_meta' %}
		{% include '_system/_seo' %}
		{% include '_system/_favicons' %}
		{% cache %}
		{# preload fonts #}
		<link rel="preload" href="/assets/fonts/poppins-bold.woff" as="font" type="font/woff" crossorigin>
		<link rel="preload" href="/assets/fonts/poppins-light.woff" as="font" type="font/woff" crossorigin>
		<link rel="preload" href="/assets/fonts/poppins-regular.woff" as="font" type="font/woff" crossorigin>
			
		{% endcache %}
		


		{% block head %}{% endblock %}


    	{# min css for production #}
		{% if devMode %}
			<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
		{% else %}
		{% cache %}
			
			<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
		{% endcache %}
		
		{% endif %}
		{# sprig #}

		<script src="/assets/js/htmx.min.js" defer></script>
		<script src="/assets/js/index.es5.min.js"></script>
		{# <script src="/assets/js/popper.min.js"></script>#}

	</head>
	<body id="body" class="{% if bodyClass is defined %}{{ bodyClass }}{% endif %} position-relative">


		{# defined in _layout/site #}
		{% block body %}{% endblock %}

		{% block foot %}{% endblock %}

	</body>

    
</html>
{% endapply %}