{% apply spaceless %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ currentSite.language }}">
	<head>

		{# system partials #}
		{% include '_system/_meta' %}
		{% include '_system/_seo' %}
		{% include '_system/_favicons' %}
		{% cache %}
		{# preload fonts #}
		<link rel="preload" href="/assets/fonts/poppins-bold.woff" as="font" type="font/woff" crossorigin>
		<link rel="preload" href="/assets/fonts/poppins-light.woff" as="font" type="font/woff" crossorigin>
		<link rel="preload" href="/assets/fonts/poppins-regular.woff" as="font" type="font/woff" crossorigin>
			
		{% endcache %}
		


		{% block head %}{% endblock %}


    	{# min css for production #}
		{% if devMode %}
			<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
		{% else %}
		{% cache %}
			
			<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
		{% endcache %}
		
		{% endif %}
		{# sprig #}

		<script src="/assets/js/htmx.min.js" defer></script>
		<script src="/assets/js/index.es5.min.js"></script>
		{# <script src="/assets/js/popper.min.js"></script>#}

	</head>
	<body id="body" class="{% if bodyClass is defined %}{{ bodyClass }}{% endif %} position-relative">


		{# defined in _layout/site #}
		{% block body %}{% endblock %}

		{% block foot %}{% endblock %}

	</body>

    <script type="text/javascript">
document.addEventListener("DOMContentLoaded", function () {
  const burger = document.querySelector(".burger");
  const overlay = document.querySelector(".overlay");
  const mobileNav = document.querySelector(".mobile-nav");
  const body = document.body;

  function toggleMenu() {
    burger.classList.toggle("clicked");
    overlay.classList.toggle("show");
    mobileNav.classList.toggle("show");
    body.classList.toggle("overflow");
  }

  burger.addEventListener("click", toggleMenu);
  overlay.addEventListener("click", toggleMenu);
});

    </script>


	<script>
		window.onscroll = function() {scrollFunction()};
		var header = document.getElementById("js-header");
		var logo = document.getElementById("js-logo")

		function scrollFunction() {
		if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
			logo.style.height = ("80px");
			header.classList.remove("shadow-sm");
			header.classList.add("shadow");
		} else {
			logo.style.height = ("130px");
			header.classList.add("shadow-sm");
			header.classList.remove("shadow");
		}
		};
	</script>



			{# Safari Fix -> https://gist.github.com/samthor/64b114e4a4f539915a95b91ffd340acc #}
			<script>
				(function () {
				var check = document.createElement('script');
				if (!('noModule' in check) && 'onbeforeload' in check) {
				var support = false;
				document.addEventListener('beforeload', function (e) {
				if (e.target === check) {
				support = true;
				} else if (! e.target.hasAttribute('nomodule') || ! support) {
				return;
				}
				e.preventDefault();
				}, true);

				check.type = 'module';
				check.src = '.';
				document.head.appendChild(check);
				check.remove();
				}
				}());
			</script> 

			{# Custom Properties Polyfill #}	
			<script>
				window.MSInputMethodContext && document.documentMode && document.write('<script src="/assets/js/ie11custom-properties.es5.js"><\x2fscript>');
			</script> 

</html>
{% endapply %}