{# index #}
{% extends "_layout/site" %}
{% block main %}

<section class="pt-14">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto rellax" data-rellax-speed="2" data-rellax-percentage="0.5">
                <h1 class="mb-2 text-primary">{{entry.title ?? null}}</h1>
                {{entry.text ?? null}}
            </div>
        </div>
    </div>
</section>

{% endblock %}