<div id="menu">
    <h1 class="text-white">Griaß eich die Madln, servas die Buam!</h1>
    {# <ul class="p-0">
    {% for slug, item in nav.main %}

        <li class="">
            <a href="{{ url(slug) }}">
            <span class="burger-menu__link">{{ item.title }}</span>
            </a>
        </li>

    {% endfor %}    
    </ul> #}

</div>

