{% set image = content.image ?? null %}
{% set headline = content.headline ?? null %}
{% set subline = content.subline ?? null %}

{% block hero %}
<div class="container-fluid position-relative px-5">
   <img class="position-relative hero--bg-image object-fit__cover rounded-5" src="{{ image.getUrl ?? placeholderImg }}" width="100%"/>
   <div class="position-absolute container top-75 start-50 translate-middle">
         <div class="row">
            <div class="col-xl-7 mx-auto text-center text-white">
               <h1 class="h2">{{ headline }}</h1>
               <p class="lead">{{ subline }}</p>
            </div>
      </div>
   </div>
</div>
{% endblock %}