{% set items = items ?? null %}

{% for member in items %}
    {% set memberImage = member.portraitImage.eagerly().one() ?? null %}
    <div class="col-6 col-md-4 col-lg-3 col-xl-2">
        <div class="text-center d-flex flex-column justify-content-center align-items-center h-100">
            {% if memberImage %}
                <img src="{{memberImage.getUrl() ?? null}}" height="300" width="" class="w-100 object-fit__cover" alt="{{member.title ?? null}}">
            {% else %}
                <div class="bg-light w-100 d-flex align-items-center justify-content-center" style="height:300px">
                    Kein Bild vorhanden
                </div>
            {% endif %}
            <p class="text-white h5 mt-24">{{member.title ?? null}}</p>
            <small class="text-white">{{member.subline ?? null}}</small>
        </div>
    </div>
{% endfor %}