{# index #}
{% extends "_layout/site" %}
{% block main %}

<section class="pt-14">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="mb-2 text-primary">{{entry.title ?? null}}</h1>
            </div>
                {% embed "_pagebuilder/index" %}{% endembed %}
        </div>
    </div>
</section>

{% endblock %}