{# index #}
{% extends "_layout/site" %}
{% block main %}

<section class="pt-14">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mb-5">{{entry.title ?? null}}</h1>
            </div>
        </div>
    </div>
</section>

{% endblock %}