{# index #}
{% extends "_layout/site" %}
{% block main %}

<section class="pt-14">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <div class="small text-muted mb-3">{{entry.blogAuthor.one() ?? null}} x {{entry.postDate|date('d-m-yy')}}</div>
                <h1 class="mb-2 text-primary ">{{entry.title ?? null}}</h1>
                <p>{{entry.blogIntro ?? null}}</p>
            </div>
            {% embed "_pagebuilder/index" %}{% endembed %}
        </div>
    </div>
</section>

{% endblock %}