#burger-menu {
    cursor: pointer;
    overflow: visible;
    position: relative;
    z-index:99;
    padding: 0.8rem 1rem
  }
  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: white;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }
  #burger-menu span {
    right: 16px;
    top: 24px;
    width: 24px;
  }
  #burger-menu span:before {
    right: 0px;
    top: -8px;
    width: 16px;
    transition: .5s;
  }
  #burger-menu:hover span:before {
    width: 24px;
    transition: .5s;
  }
  #burger-menu span:after {
    left: 0px;
    top: 8px;
    width: 16px;
  }
  #burger-menu:hover span:after {
    width: 24px;
    transition: .5s;
  }
  
  #burger-menu.close span {
    background: white;
    transform: rotate(-45deg);
    top: 24px;
    width: 27px;
  }
  #burger-menu.close span:before {
    background: white;
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
  }
  #burger-menu.close span:after {
    background: white;
    top: 0px;
    left:0;
    transform: rotate(90deg);
    opacity:0;
    width:0;
  }
  
  #menu{
    z-index:95;
    min-height:100%;
    min-width: 100%;
    position: fixed;
    right: 0;
    visibility: hidden;
    opacity: 0;
    text-align:center;
    padding:60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    
  }
  
  #menu.overlay{
    visibility: visible;
    opacity: 1;
    margin-right: 0px;
    background: rgb(61,99,107);
    background: linear-gradient(66deg, rgba(61,99,107,1) 0%, rgba(51,85,92,1) 61%, rgba(116,86,108,1) 100%);
  }

  body.overlay {
      height: 100vh;
      overflow: hidden;
  }
  
  #menu li{
    list-style: none;
  }
  
  #menu a{
    color:white;
    font-family: $font-family-base;
    display: block;
    font-size: 32px;
    margin-bottom: 24px;
    text-decoration: none;
  }
  
  .burger-menu__link:hover {
    color: $petrol;
    filter: brightness(50%);
    transition: 0.5s;
    cursor: pointer 
  }
  
  .burger-menu__link {
    transition: 0.2s
  }
  
  .btn-menu {
    display: flex;
    align-items: center;
    background-color: $violet;
    filter: brightness(80%);
    height: 100%;
    padding: 0!important;
    border-radius: 12px;
  }