.btn-prev img {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    transition: 0.5s;
    }

 .btn-next img:hover {
     -webkit-transform: translateX(0px);
     transform: translateX(0px);
     transition: 0.5s;
 }

.btn-prev img:hover {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    transition: 0.8s;
    }

 .btn-next img:hover {
     -webkit-transform: translateX(8px);
     transform: translateX(8px);
     transition: 0.8s;
 }