{# index #}
{% extends "_layout/site" %}
{% set heroImage = entry.heroImage.eagerly().one() ?? null %}

{% block main %}

<section>
    {% embed "_components/_hero" with {
        image: heroImage,
        imageAlt: siteName,
        height: ''
    } %}
    {% endembed %}
</section>

<section class="py-248">
    <div class="container pt-128">
        <div class="row pb-16">
            <div class="col-xl-8 mx-auto">
                <a href="/aktuelles#aktuelles">← Zur Übersicht</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 mx-auto">
                <h1 class="h2">{{entry.title ?? null}}</h1>
				<p class="fs-4 mb-24">{{entry.subline ?? null}}</p>
				{{entry.intro ?? null}}
            </div>
        </div>
    </div>
</section>




{% endblock %}
