{# index #}
{% extends "_layout/site" %}
{% block main %}

<section class="pt-14">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="mb-2 text-primary">{{'Hey Dude, wo ist die Seite?'}}</h1>
                <a href="/" class="btn btn-primary mt-4">Zur Startseite</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}