{# index #}
{% extends "_layout/site" %}
{% block main %}

<section class="pt-14">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="mb-2 text-primary">{{'Vielen Dank für deine Nachricht'}}</h1>
                {{'Wir werden deine Anfrage zeitnah bearbeiten und melden uns anschließend bei dir.'}}
            </div>
        </div>
    </div>
</section>

{% endblock %}