{% set gallery = entry.sectionAboutUsGallery.all() %}

{# index #}
{% extends "_layout/site" %}
{% block main %}

{# hero #}
<section>
   {% embed '_components/_hero' with {
      content: {
         image: entry.heroImage.one(),
         headline: entry.heroHeadline,
         subline: entry.heroSubline
      }
   } %}{% endembed %}
</section>


<section class="px-2 px-lg-5">
   <div class="container-fluid d-flex align-items-center overflow-hidden" style="min-height: 100vh;">
      <div class="container">
         <div class="row">
            <div class="col-xl-8 mx-auto">
               <h2 class="display-1">
                  <div id="konzeption" data-trig-offset="0" data-trig-max="0" data-trig>Konzeption</div>
                  <div id="design" data-trig-offset="0" data-trig-max="100" data-trig>Design</div>
                  <div id="entwicklung" data-trig-offset="0" data-trig-max="0" data-trig>Entwicklung</div>
               </h2>
            </div>
         </div>
      </div>
   </div>
</section>





<section class="py-5 py-xl-7">
   {% embed '_sections/services' with {
      content: {
         headline: entry.sectionServicesHeadline,
         text: entry.sectionServicesText,
      },
      opt: {
         sliderName: 'services'
      }
   }%}{% endembed %}
</section>


<section class="px-2 px-lg-5 py-7 py-xxl-9">
   <div class="container">
       <div class="row align-items-center">
           <div class="col-xl-5">
           {% for image in gallery %}
               <img id="jsAbout" data-trig class="object-fit__cover rounded-5" src="{{ placeholderImg }}" width="100%"/>
            {% endfor %}
           </div>
           <div class="col-xl-7 p-4 p-lg-7">
               <h1>{{ entry.sectionAboutUsHeadline }}</h1>
               <h5>{{ entry.sectionAboutUsSubline}}</h5>
               <p class="pt-4">{{ entry.sectionAboutUsText }}</p>
           </div>
       </div>
   </div>
</section>

<section class="py-5 py-xl-7">
   {% embed '_sections/portfolio' with {
      content: {
         headline: entry.sectionPortfolioHeadline,
         text: entry.sectionPortfolioText,
      },
      opt: {
         sliderName: 'portfolio'
      }
   }%}{% endembed %}
</section>

{% endblock %}