

{# index #}
{% extends "_layout/site" %}
{% block main %}

{# hero #}
<section>
   {% embed '_components/_hero' with {
      content: {
         image: entry.heroImage.one(),
         headline: entry.heroHeadline,
         subline: entry.heroSubline
      }
   } %}{% endembed %}
</section>


<section class="px-2 px-lg-5">
   <div class="container-fluid d-flex align-items-center overflow-hidden" style="min-height: 100vh;">
      <div class="container">
         <div class="row">
            <div class="col-xl-8 mx-auto">
               <h2 class="display-1 text-primary">
                  <div id="konzeption" data-trig-offset="0" data-trig-max="0" data-trig>Konzeption</div>
                  <div id="design" data-trig-offset="0" data-trig-max="100" data-trig>Design</div>
                  <div id="entwicklung" data-trig-offset="0" data-trig-max="0" data-trig>Entwicklung</div>
               </h2>
            </div>
         </div>
      </div>
   </div>
</section>





<section class="py-5 py-xl-7">
   {% embed '_sections/services' with {
      content: {
         headline: entry.sectionServicesHeadline,
         text: entry.sectionServicesText,
      },
      opt: {
         sliderName: 'services'
      }
   }%}{% endembed %}
</section>

<section class="px-2 px-lg-5 py-7 py-xxl-9">
   {% embed '_sections/aboutus' with {
      content: {
         headline: entry.sectionAboutUsHeadline,
         subline: entry.sectionAboutUsSubline,        
         text: entry.sectionAboutUsText,
         gallery: entry.sectionAboutUsGallery.all()
      },
      opt: {
         sliderName: 'about-us'
      }
   }%}{% endembed %}
</section>

<section class="py-5 py-xl-7">
   {% embed '_sections/portfolio' with {
      content: {
         headline: entry.sectionPortfolioHeadline,
         text: entry.sectionPortfolioText,
      },
      opt: {
         sliderName: 'portfolio'
      }
   }%}{% endembed %}
</section>

{% endblock %}