{# seo #}
<title>{% if entry.title is defined %}{{ entry.title }} - {% endif %}{{ siteName }}</title>
<meta name="description" content="Everyday carry retro farm-to-table, readymade microdosing street art XOXO.">
<meta name="keywords" content="HTML, CSS, JavaScript, Twig">
<meta name="author" content="Grafikbuam">
